body {
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #0B0C10, #1B2838);
}
/* 
.container-all {
    display: grid;
    grid-gap: 50px;
    align-content: space-between;
    justify-items: center;
} */


* {
    margin: 0px;
    padding: 0px;
}

h1 {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2;
}

.container {
    width: 400px;
    background-color: rgba(11, 12, 16, 0.9);
    border: 2px solid #003442;
    padding: 20px 20px;
    box-shadow: 0 0 20px rgba(0, 198, 255, 0.1);
    display: grid;
    grid-gap: 30px;
    color: white;
    border-radius: 5px;
    justify-items: center;
}

.btn {
    cursor: pointer;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 1.5rem;
    background: #00FF88;
    transition: .5s;
}

.btn:hover {
    transition: .5s;
    background: #00C6FF;
}

input {
    text-align: start;
    width: 100%;
    border: none;
    height: 50px;
    outline: none;
    color: white;
    font-size: 2rem;
    /* border: 2px solid #003442; */
    border-radius: 3px;
    outline: none;
    background: linear-gradient(10deg, rgba(27, 115, 187, 0.1), rgba(27, 116, 187, 0.4));
}

footer {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    max-height: 200px;
    backdrop-filter: blur(12px);
    background-color: rgba(11, 12, 16, 0.9);
    color: #C7D5E0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding: 20px; */
    border-top: 0.1px solid rgba(102, 192, 244, 0.5);
}

footer p {
    margin-bottom: 40px;
}


.container-footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.container-items-footer {
    display: flex;
    gap: 25px;
    padding: 30px;
}

footer a {
    color: #00ff99;
    font-size: 1.8rem;
    transition: all 0.5s;
}

footer a:hover {
    transform: scale(1.07);
    transition: all 0.5s;
    color: #00C6FF;
}

@media (max-width: 600px) {
    .container {
        width: 200px;
    }

    .btn {
        height: 40px;
        font-size: 1rem;
    }

    input {
        text-align: center;
        font-size: 1.3rem;
    }

    h1 {
        font-size: 1.8rem;
        text-align: center;
    }
}